<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvshun.dao.OrderListDao">

	<!-- 添加订单 -->
	<insert id="addorderList"  parameterType="com.lvshun.po.OrderList" >
		INSERT INTO orderlist(
		 snumber_id,o_id,c_id,o_name,o_property,c_number,delivery_costs,money,o_state,user_id,
	  addre,s_method,popay_ment,present_exp,oxd_date,osong_date,osh_date,ofk_date,order_time,username,phone,dawk,prefecture,address
		)VALUES(
		#{snumber_id},#{o_id},#{c_id},#{o_name},#{o_property},#{c_number},#{delivery_costs},#{money},#{o_state},#{user_id}
		,#{addre},#{s_method},#{popay_ment},#{present_exp},#{oxd_date},#{osong_date},#{osh_date},#{ofk_date},#{order_time},
		#{username},#{phone},#{dawk},#{prefecture},#{address}

		)
	</insert>
	<!-- 查询订单 详细 -->
	<select id="getByoId"  parameterType="com.lvshun.po.OrderList" resultType="com.lvshun.po.OrderList" >
		select
		*
		from orderlist
		where id=#{o_id}
	</select>
	<!-- 查询订单 -->
	<select id="getAllorder"  parameterType="com.lvshun.po.OrderList" resultType="com.lvshun.po.OrderList">
		select
		*
		from orderlist
	</select>
	<!-- 删除订单 -->
	<delete id="deleteOrder" parameterType="com.lvshun.po.OrderList">
		delete from orderlist where id=#{oId}
	</delete>
	<!-- 修改订单 -->
	<update id="updateOrder" parameterType="com.lvshun.po.OrderList" >
		UPDATE orderlist AS T SET
		 T.snumber_id =#{snumberId},
		 T.c_id =#{cId},
		 T.o_name=#{oName},
		 T.o_property=#{oProperty},
		 T.c_number =#{cNumber},
		 T.delivery_costs =#{deliveryCosts},
		 T.money=#{money},
		 T.o_state=#{oState},
		 T.user_id=#{userId},
		 T.address=#{address},
		 T.s_method=#{sMethod},
		 T.popay_ment=#{popayMent},
		 T.present_exp=#{presentExp},
		 T.oxd_date =#{oxdDate},
		 T.osong_date=#{osongDate},
	     T.osh_date=#{oshDate},
		 T.ofk_date=#{ofkDate},
		 T.order_time=#{orderTime}
		WHERE T.o_id,=#{oId}
	</update>
</mapper>